:root {
/*    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/

    /*Overide Boostrap Variables*/
    --font-family-sans-serif: "Chalkboard", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-serif: "Courier New", serif;
    --gray-dark: #404040;
    --color-text(--gray--dark);
    --font-family-text: var(--font-family-serif);

    --purple: black;
}

.chalkboard {
    font-family: var(--font-family-sans-serif);
}

body {
    font-family: var(--font-family-text);
    color: var(--color-text);
    font-weight: 200;
}

.container {
  height: inherit;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#page-skills .page-section-header .page-section-title {
    font-size: 2em;
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    color: var(--purple);
}


.site-header {
background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background: url(../images/background2.jpg);*/
    /*background-color: var(--purple);*/
    /*background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.site-nav {
    background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-header .layout-hero {
    min-height: 50vh;
}

.site-header .page-section-title {
    font-size: 3em;
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    color: white;
}

.layout-social .layout-icon {
    font-size: 2em;
}

.site-header .page-section-text {
    font-size: 1.5em;
    color: white;
}

#page-portfolio .page-section-header .page-section-title {
    font-size: 2em;
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    color: var(--purple);
}

.page-section-header .page-section-title {
    font-size: 2em;
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    color: white;
}

.layout-media .layout-image {
    max-width: 64px;
}

.layout-card {
    background-color: #f8f9fa;
}

.card-body {
    padding: 0;
    text-align: center;
}

.layout-media .layout-title {
    color: var(--purple);
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
}

/*.card {
    background-color: #FCFAE3;
}*/

.card-img-top {
    width: 100px;
}

.layout-skills .layout-image {
    align-self: center;
} 

.layout-skills .layout-title {
    font-size: 1.5em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    color: var(--purple);
}

.layout-button {
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

#page-skills {
    background-color: #f8f9fa;
}

#page-portfolio {
    background-color: white;
}

.layout-project .page-section-title {
    font-size: 1.5em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    color: var(--purple);
}

#page-contact {
    background: #1b212b;
}

.layout-contact .page-section-text{
    font-size: 1.5em;
    color: white;
}

.layout-contact .layout-button {
    margin: 1rem 0;
    text-align: left;
}


.layout-copyright{
    min-height: 2em;
    align-items: center;
    padding: 1.5em;
}

.layout-copyright-text {
    color: white;
}

.layout-social-icons {
    font-size: 1.5em;
    text-align: right;
    color: white;
}

#visit-btn {
      background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*position: absolute;
left:    0;
bottom:   0;*/
}

#code-btn {
  background-color: #000;
/*  position: absolute;
right:    0;
bottom:   0;*/
}

#linkedin-btn {
  background-color: #0077b5;
}

#email-btn {
  background-color: #32CD32;
}

.layout-copyright-container {
    max-width: 100%;
}

.search-box {
    text-align: center;
}

.black-border {
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.list-inline {
    margin-top: 1rem;
    padding: 0;
}

.text-box-search {
    width: 50%;
    height: 5vh;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .page-section-title {
    padding-top: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 

  .vid-fluid {
    max-width: 100%;
    height: auto;
  }

  .layout-copyright-text {
    font-size: 0.8em;
    text-align: center;
    max-width: inherit;
    flex: none;
    padding-bottom: 0.5em;
  }

  .layout-social-icons {
    font-size: 1em;
    text-align: center;
    max-width: inherit;
    flex: none;
  }

  .text-box-search {
    width: 80%;
  }

  .page-section-title {
    padding-top: 2rem;
  }

}
