:root {
/*    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/

    /*Overide Boostrap Variables*/
    --font-family-sans-serif: "Chalkboard", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-serif: "Courier New", serif;
    --gray-dark: #404040;
    --color-text(--gray--dark);
    --font-family-text: var(--font-family-serif);

    --purple: #7037CB;
}

.chalkboard {
    font-family: var(--font-family-sans-serif);
}

body {
    font-family: var(--font-family-text);
    color: var(--color-text);
    font-weight: 200;
}

.site-header {
    /*background: url(../images/background2.jpg);*/
    background-color: var(--purple);
    /*background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.site-header .layout-hero {
    min-height: 50vh;
}

.site-header .page-section-title {
    font-size: 3em;
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    color: white;
}

.layout-social .layout-icon {
    font-size: 2em;
}

.site-header .page-section-text {
    font-size: 1.5em;
    color: white;
}

#page-skills {
    background-color: #FCFAE3;
}

.page-section-header .page-section-title {
    font-size: 2em;
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    color: var(--purple);
}

.layout-media .layout-image {
    max-width: 64px;
}

.layout-media .layout-title {
    color: var(--purple);
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
}

.card {
    background-color: #FCFAE3;
}

.card-img-top {
    width: 100px;
}

.layout-skills .layout-image {
    align-self: center;
} 

.layout-skills .layout-title {
    font-size: 1.5em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    color: var(--purple);
}

#page-portfolio {
    background-color: #070202;
}

.layout-project {
    width: 85%;
}

.layout-project .page-section-title {
    padding-top: 1.5em;
    font-size: 1.5em;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    color: var(--purple);
}

.layout-project .layout-code-button {
    position:absolute;
    bottom:2em;
}


#page-contact {
    background-color: #FCFAE3;
}

.layout-contact .page-section-text{
    font-size: 1.5em;
}

.layout-contact .layout-button {
    margin: 1rem 0;
    text-align: left;
}


.layout-copyright{
    min-height: 2em;
    align-items: center;
    padding: 2em;
}

.layout-copyright .layout-copyright-text{
    margin:0;
}

.layout-copyright-text {
    position: absolute;
    left:1em;
}

.layout-social-icons {
    position: absolute;
    right: 1em;
    font-size: 1.5em;
}

#linkedin-btn {
  background-color: #0077b5;
}

#email-btn {
  background-color: #02010a;
}
